<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia Sesi칩n en AdBranch
                
            if locals.mensajes 
                .alertas
                    each categoria in Object.keys( locals.mensajes )
                        each error in mensajes[categoria]
                            .alerta( class = `${categoria}` )
                                p= error
                                    i.fas.fa-exclamation-circle             

            form#formulario.caja.caja-login( method = "POST" action = "/iniciar-sesion" )
                .campo
                    label(for="email") E-mail: 
                    input(type = "text" name = "email" placeholder = "Ingresa tu Email" value= email)
                .campo
                    label(for="password") Contrase침a: 
                    input(type = "password" name = "password" placeholder = "Ingresa tu Password" value= password)
                .campo.enviar
                    input.boton(type = "submit" value = "Iniciar Sesi칩n")
                .campo.acciones
                    a(href = "/crear-cuenta") Crea un Cuenta Gratis en AdBranch
                    a(href = "/restablecer") Recuperar Contrase침a

