extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina}

        form.agregar-proyecto(action = "/nuevo-ramo" method = "POST")
            .campo
                label(for="nombre") Nombre Ramo:
                input(type="text" id = "nombre" name = "nombre" placeholder = "Indica el nombre")
            .campo.enviar
                input(type="submit" value = "Agregar" class = "boton")
