<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css

    body
        h2 Restablecer Password
        p Hola, ha solicitado un Cambio de contraseña, haz click en el siguiente enlace para restablecer, este enlace es temporal, si lo pierdes, vuelve a pedirlo
        a(href = `${resetURL}`) Cambiaar mi Password
        p si no puedes ver este enlace, visita #{resetURL}
        p Si no solicitaste esta solicitud, ignora este email